@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2AD882;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
} */

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: montserrat;
}
